  <div id="send-message-shortcut"> <a href="https://www.facebook.com/messages/100014120981122" target="_BLANK"><i class="fa fa-facebook-square"></i>&nbsp;Hubungi <span>Facebook<span> Kami </a> </div>
  <footer>
   <div class="row">
    <div class="col-md-6">
      <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3973.5288965261593!2d119.48397670008043!3d-5.17918950369967!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x869083464698c79f!2sRumah+Pengantin+Anisah+Makassar!5e0!3m2!1sen!2sid!4v1479190458350" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <!-- <img alt="Staticmap?size=450x300&amp;sensor=false&amp;zoom=16&amp;markers= 5.158914%2c119" id="map" src="http://maps.google.com/maps/api/staticmap?size=450x300&amp;sensor=false&amp;zoom=16&amp;markers=-5.158914%2C119.4107655"> -->
      </div>

    </div>
    <div class="col-md-6">
      <h3>Hubungi Segera Kami</h3>
      <ul class="nav ">
        <li ><a href="" id="gh" target="_blank" title="Facebook" class="facebook"><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x "></i>
          <i class="fa fa-facebook fa-stack-1x "></i>
          </span>
          Rumah Pengantin Anisah
        </a></li>
        <li ><a href="" id="gh" target="_blank" title="Facebook" class="facebook"><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x "></i>
          <i class="fa fa-facebook fa-stack-1x "></i>
          </span>
          Nunung Sastrafiana
        </a></li>
        <li ><a href="" id="gh" target="_blank" title="Twitter" class="twitter"><span class="fa-stack fa-lg">
              <i class="fa fa-square-o fa-stack-2x "></i>
              <i class="fa fa-blackberry fa-stack-1x "></i>
              </span>
              5AA33ECA
        </a></li>
        <li ><a href=""  target="_blank" title="Phone" class="phone"><span class="fa-stack fa-lg">
          <i class="fa fa-square-o fa-stack-2x"></i>
          <i class="fa fa-phone fa-stack-1x"></i>
          </span>
          082344562345
    </a></li>
      </ul>
    </div>

    <br />
    <br />
    <div class="col-lg-12 copyright">
      <p>Copyright ©Rumah Pengantin Anisah</p>
    </div>


  </footer>
