<!-- *** NAVBAR ***
_________________________________________________________ -->

<div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand scrollTo" href="#beranda"><%= image_tag('logo_2.png', class: 'logo') %></a>
        </div>

        <div class="navbar-collapse collapse" id="navigation">

            <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="#beranda">Beranda</a>
                </li>

                <li class=""><a href="#paket">Paket</a>
                </li>
                <li class=""><a href="#testimoni">Testimoni</a>
                </li>
                <li class=""><a href="#promo">Promo</a>
                </li>
                <li class=""><a href="#hubungikami">Hubungi Kami</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->

    </div>
</div>
<!-- /#navbar -->

<!-- *** NAVBAR END *** -->
