<div class="row promo">
  <div class="container">
        <h1 >Promo Rumah Pengantin Anisah</h1>
        <div class="col-md-12">
            <div class="blockquote-box blockquote-danger clearfix">
                <!-- <div class="square pull-left">
                    <img src="http://placehold.it/60/8e44ad/FFF&text=B" alt="" class="" />
                </div> -->
                <h3>Gratis Paket Walimah Untuk Hafidzh & Hafidzhah</h3>
                <p>
                    Berlaku Sepanjang Tahun
                </p>
            </div>
            <div class="blockquote-box blockquote-primary clearfix">
                <!-- <div class="square pull-left">
                    <span class="glyphicon glyphicon-music glyphicon-lg"></span>
                </div> -->
                <h3>Gratis Rias & Gaun Untuk Dai/Daiyah Salaf*</h3>
                <p>
                    Syarat Dan Ketentuan Berlaku
                </p>
            </div>
            <div class="blockquote-box blockquote-success clearfix">
                <!-- <div class="square pull-left">
                    <span class="glyphicon glyphicon-tree-conifer glyphicon-lg"></span>
                </div> -->
                <h3>Diskon 50% Untuk Pengantin Dhuafa</h3>
                <p>
                  Spesial Bulan Haram
                </p>
            </div>
            <div class="blockquote-box blockquote-success clearfix">
                <!-- <div class="square pull-left">
                    <span class="glyphicon glyphicon-tree-conifer glyphicon-lg"></span>
                </div> -->
                <h3>Paket Gratis Setiap Muharram</h3>
                <p>
                  Bulan Pertama Hijriah Berlaku Sekali Setahun
                </p>
            </div>
        </div>
  </div>
</div>
