<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header plan-name">
        <h3>Paket Hemat</h3>
    </div>
    <div class="modal-body">
      <ul class="plan">

          <li class="plan-price">
              <strong>Gaun Pengantin</strong>
          </li>
          <li>
              <strong>Rias Pengantin</strong>
          </li>
          <li>
              <strong>Tirai Hijab</strong>
          </li>
          <li>
              <strong>Dekorasi Kamar</strong>
          </li>
          <li>
              <strong>Tabere/Lamming</strong>
          </li>
          <li>
              <strong>Pelaminan</strong>
          </li>
          <li>
            <strong>Harga Mulai Rp 3.500.000 - Rp 5.000.000</strong>
          </li>


       </li>
      </ul>
    </div>
    <div class="modal-footer">
      <%#= link_to 'Edit', edit_page_path(@page) %>
      <%= link_to 'Tutup','#', class: 'btn btn-danger', data: {dismiss: 'modal'} %>

    </div>

  </div>
</div>
