<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header plan-name">
        <h3>Paket Komplit</h3>
    </div>
    <div class="modal-body">
      <ul class="plan ">
          <li class="plan-price">
              <strong>Gaun Pengantin</strong>
          </li>
          <li>
              Class Silver : Rp 150.000 - 1.500.000,-
          </li>
          <li>
              Class Gold : Rp 2.000.000 - 6.000.000,-
          </li>
          <li>
              Class Platinum : Rp 7.000.000 - 10.000.000,-
          </li>
          <li class="plan-price">
              <strong>Rias Pengantin</strong>
          </li>

          <li>
              Little Make Up : Rp 150.000,-
          </li>
          <li>
              Make Up Minimalis : Rp 250.000,-
          </li>
          <li>
              Make Up Standar : Rp 350.000,-
          </li>
          <li>
              Make Up Pro Medium : Rp 500.000,-
          </li>
          <li>
              Make Up Pro Dimension : Rp 750.000 - 1.000.000,-
          </li>
          <li class="plan-price">
              <strong>Dekorasi Kamar</strong>
          </li>
          <li>
              Minimalis Dekor : Rp. 500.000,-
          </li>
          <li>
              Full Dekor : Rp 750.000,-
          </li>
      </ul>
    </div>
    <div class="modal-footer">
      <%#= link_to 'Edit', edit_page_path(@page) %>
      <%= link_to 'Tutup','#', class: 'btn btn-danger', data: {dismiss: 'modal'} %>

    </div>

  </div>
</div>
