<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header plan-name">
        <h3>Paket Walimatul Urs Organizer</h3>
    </div>
    <div class="modal-body">
      <ul class="plan ">

          <li>
              Undangan
          </li>
          <li>
              Souvenir
          </li>
          <li>
              Gaun Couple
          </li>
          <li>
              Riasan Pro
          </li>
          <li>
              Dekorasi Kamar
          </li>
          <li>
              Hantaran
          </li>
          <li>
              Sunting/Tabere
          </li>
          <li>
              Tirai Hijab
          </li>
          <li>
              Foto & Shoote
          </li>
          <li>
              katering
          </li>
          <li>
              Desert
          </li>
          <li>
              Panitia Pelaksana
          </li>
          <li>
              Pengisi Acara
          </li>
      </ul>
    </div>
    <div class="modal-footer">
      <%#= link_to 'Edit', edit_page_path(@page) %>
      <%= link_to 'Tutup','#', class: 'btn btn-danger', data: {dismiss: 'modal'} %>

    </div>

  </div>
</div>
