<section class="judul">

</section>
<section class="gambar_depan">

</section>
<section class="tentang_kami">

</section>

<section class="paket">
  <%= render 'partial/paket' %>
</section>

<section class="testimoni">
  <%= render 'partial/testimoni' %>
</section>
<section class="promo">
  <%= render 'partial/promo' %>
</section>

<section class="hubungi_kami">

</section>


<section class="footer">
  <%= render 'partial/footer' %>
</section>
