<section class="judul">

</section>
<section class="gambar_depan">

</section>
<section class="tentang_kami">

</section>

<section class="paket">

</section>

<section class="testimoni">
  <%= render 'partial/testimoni' %>
</section>
<section class="promo">

</section>

<section class="hubungi_kami">

</section>


<section class="footer">

</section>
